# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
# Connect DB Cfg
set es_enableCustomData 1
set mysql_connection_string "server=127.0.0.1;database=essentialmode;userid=root"
# These resources will start by default.
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start playernames
#start scoreboard

# Starting Essentialmode
start mysql-async
start essentialmode
start esplugin_mysql
start es_admin2

# Step 3 - menu_HUD
start es_extended

start esx_menu_default
start esx_menu_list
start esx_menu_dialog

# Step 4 - Character
start skinchanger
start esx_skin
start esx_addonaccount
start esx_addoninventory

# -----PHONE-----
start esx_addons_gcphone
# ---------------

# Step 5 - Jobs
start esx_jobs
start esx_society
start esx_billing
start esx_vehicleshop
start esx_datastore
start esx_ambulancejob
start esx_service
start esx_taxijob
start esx_mechanicjob
start esx_license
start esx_dmvschool
start esx_policejob
start esx_identity

# Step 6 - shops&atm-bank
start esx_joblisting
start esx_weaponshop
start instance
start esx_property
start jsfour-atm
start esx_bankicon
start esx_shops
start esx_barbershop
start esx_clotheshop

# Step 7 - Drug
start pNotify
start esx_planting
start esx_drugs
#start esx_phone
start npcdrugsales
start fivem-ipl
start Teleport
start esx_illegal_drugs


# Step 8 - Car&CopsAlert
start SexySpeedometer
start LegacyFuel
start esx_vehicle_inventory
start esx_goDirty
start esx_jb_eden_garage
start esx_impound
start esx_vehiclelock
start seatbeltIndicator
start RealisticVehicleFailure

# Step 9 - Status&real-life
start esx_status
start esx_lscustom
start esx_diving
start Esx_Ocean-Salvage
start esx_diamon_robbery
start esx_holdupbank
start esx_basicneeds
start esx_ladderhud
start jsfour-idcard
start esx_marker
start ft_libs
start esx_radars
start esx_migrate

# Step 10
start esx_lawyerjob
start esx_hunting
start esx_pizza_delivery
start esx_whitelist
# Show X Y Z on hud
#start showcoords 
# -----------------
start RealAITraffic
start esx_scoreboard
start npc_control
start esx_doorlock
start esx_jail
start Y
start esx-kr-vehicle-push
start esx_securitycam
start esx_voice
start gcphone
start esx_outlawalert
start scrp-scripts
# anti-hack
start EasyAdmin
start anticheese-anticheat

# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 1

# Uncomment this to enable RCON. Make sure to change the password.
#rcon_password hellokitty

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "roleplay","real-life"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://url.to/image.png"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "Serv-TEST-Script-For-FAMILY!"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000112345678 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32)
sv_maxclients 3

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey gajssofacgickee7lf91ls8zsn7iqaqw